    html {
        scroll-behavior: smooth;
    }
    
    h1 {
        color: #af0505;
    }
    
    body {
        /* background: linear-gradient(190deg, rgb(37, 185, 218) 0%, rgb(196, 7, 92) 40%, #2cb5e8 75%); */
        /* background: #1a1a1a;  */
        color: aliceblue;
        height: auto;
        margin: 0;
    }
    /* Tablet  */
    
    @media screen and (max-width:700px) {}
    /* mobile */
    
    @media screen and (max-width:400px) {}
    
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
    
    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #3E1E68;
        overflow: hidden;
        z-index: -10;
    }
    
    .background span {
        width: 1vmin;
        height: 1vmin;
        border-radius: 1vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 45;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    .background span:nth-child(0) {
        color: #E45A84;
        top: 72%;
        left: 9%;
        animation-duration: 50s;
        animation-delay: -32s;
        transform-origin: 25vw -11vh;
        box-shadow: -2vmin 0 0.8021188019099479vmin currentColor;
    }
    
    .background span:nth-child(1) {
        color: #E45A84;
        top: 92%;
        left: 87%;
        animation-duration: 28s;
        animation-delay: -29s;
        transform-origin: 6vw -19vh;
        box-shadow: 2vmin 0 0.5021165317897784vmin currentColor;
    }
    
    .background span:nth-child(2) {
        color: #FFACAC;
        top: 36%;
        left: 32%;
        animation-duration: 27s;
        animation-delay: -15s;
        transform-origin: 10vw -13vh;
        box-shadow: 2vmin 0 0.35881693096491674vmin currentColor;
    }
    
    .background span:nth-child(3) {
        color: #FFACAC;
        top: 49%;
        left: 22%;
        animation-duration: 28s;
        animation-delay: -46s;
        transform-origin: 14vw 17vh;
        box-shadow: -2vmin 0 0.8680594631978673vmin currentColor;
    }
    
    .background span:nth-child(4) {
        color: #FFACAC;
        top: 67%;
        left: 22%;
        animation-duration: 14s;
        animation-delay: -29s;
        transform-origin: -7vw 0vh;
        box-shadow: 2vmin 0 0.25645054952048607vmin currentColor;
    }
    
    .background span:nth-child(5) {
        color: #FFACAC;
        top: 56%;
        left: 39%;
        animation-duration: 41s;
        animation-delay: -16s;
        transform-origin: 17vw 25vh;
        box-shadow: 2vmin 0 0.34647073598599265vmin currentColor;
    }
    
    .background span:nth-child(6) {
        color: #FFACAC;
        top: 33%;
        left: 68%;
        animation-duration: 12s;
        animation-delay: -24s;
        transform-origin: 4vw 23vh;
        box-shadow: 2vmin 0 0.5725817915366742vmin currentColor;
    }
    
    .background span:nth-child(7) {
        color: #E45A84;
        top: 86%;
        left: 25%;
        animation-duration: 20s;
        animation-delay: -28s;
        transform-origin: 23vw -13vh;
        box-shadow: 2vmin 0 0.6703996217004187vmin currentColor;
    }
    
    .background span:nth-child(8) {
        color: #FFACAC;
        top: 53%;
        left: 96%;
        animation-duration: 55s;
        animation-delay: -14s;
        transform-origin: -3vw 19vh;
        box-shadow: -2vmin 0 0.7157211029200345vmin currentColor;
    }
    
    .background span:nth-child(9) {
        color: #583C87;
        top: 83%;
        left: 21%;
        animation-duration: 44s;
        animation-delay: -10s;
        transform-origin: 14vw -3vh;
        box-shadow: 2vmin 0 0.4516591466070303vmin currentColor;
    }
    
    .background span:nth-child(10) {
        color: #E45A84;
        top: 63%;
        left: 39%;
        animation-duration: 50s;
        animation-delay: -31s;
        transform-origin: -4vw -9vh;
        box-shadow: -2vmin 0 0.6056701535965436vmin currentColor;
    }
    
    .background span:nth-child(11) {
        color: #583C87;
        top: 23%;
        left: 56%;
        animation-duration: 27s;
        animation-delay: -39s;
        transform-origin: -10vw 7vh;
        box-shadow: 2vmin 0 0.9401653240488392vmin currentColor;
    }
    
    .background span:nth-child(12) {
        color: #FFACAC;
        top: 86%;
        left: 42%;
        animation-duration: 48s;
        animation-delay: -1s;
        transform-origin: -8vw -3vh;
        box-shadow: -2vmin 0 0.33565999997586915vmin currentColor;
    }
    
    .background span:nth-child(13) {
        color: #583C87;
        top: 50%;
        left: 90%;
        animation-duration: 45s;
        animation-delay: -45s;
        transform-origin: -22vw 10vh;
        box-shadow: 2vmin 0 1.0103174926962883vmin currentColor;
    }
    
    .background span:nth-child(14) {
        color: #583C87;
        top: 34%;
        left: 8%;
        animation-duration: 30s;
        animation-delay: -46s;
        transform-origin: 11vw -24vh;
        box-shadow: -2vmin 0 1.1957446653992136vmin currentColor;
    }
    
    .background span:nth-child(15) {
        color: #FFACAC;
        top: 51%;
        left: 72%;
        animation-duration: 11s;
        animation-delay: -33s;
        transform-origin: 19vw -20vh;
        box-shadow: -2vmin 0 0.8646060651357703vmin currentColor;
    }
    
    .background span:nth-child(16) {
        color: #FFACAC;
        top: 90%;
        left: 54%;
        animation-duration: 10s;
        animation-delay: -48s;
        transform-origin: 18vw 1vh;
        box-shadow: -2vmin 0 0.7362415955109243vmin currentColor;
    }
    
    .background span:nth-child(17) {
        color: #FFACAC;
        top: 96%;
        left: 73%;
        animation-duration: 28s;
        animation-delay: -40s;
        transform-origin: -4vw 12vh;
        box-shadow: -2vmin 0 0.6266544692259268vmin currentColor;
    }
    
    .background span:nth-child(18) {
        color: #FFACAC;
        top: 36%;
        left: 19%;
        animation-duration: 41s;
        animation-delay: -18s;
        transform-origin: 20vw 12vh;
        box-shadow: -2vmin 0 0.8953052726631561vmin currentColor;
    }
    
    .background span:nth-child(19) {
        color: #FFACAC;
        top: 35%;
        left: 13%;
        animation-duration: 26s;
        animation-delay: -29s;
        transform-origin: -2vw -2vh;
        box-shadow: 2vmin 0 0.6668310662091055vmin currentColor;
    }
    
    .background span:nth-child(20) {
        color: #E45A84;
        top: 15%;
        left: 27%;
        animation-duration: 29s;
        animation-delay: -45s;
        transform-origin: -7vw -15vh;
        box-shadow: 2vmin 0 0.5099025029227562vmin currentColor;
    }
    
    .background span:nth-child(21) {
        color: #583C87;
        top: 75%;
        left: 90%;
        animation-duration: 51s;
        animation-delay: -33s;
        transform-origin: -8vw 17vh;
        box-shadow: 2vmin 0 1.2242128228272358vmin currentColor;
    }
    
    .background span:nth-child(22) {
        color: #E45A84;
        top: 63%;
        left: 22%;
        animation-duration: 15s;
        animation-delay: -26s;
        transform-origin: -6vw -14vh;
        box-shadow: 2vmin 0 0.7177894246680832vmin currentColor;
    }
    
    .background span:nth-child(23) {
        color: #583C87;
        top: 92%;
        left: 85%;
        animation-duration: 26s;
        animation-delay: -15s;
        transform-origin: 4vw 7vh;
        box-shadow: 2vmin 0 0.728821550255424vmin currentColor;
    }
    
    .background span:nth-child(24) {
        color: #583C87;
        top: 20%;
        left: 19%;
        animation-duration: 30s;
        animation-delay: -31s;
        transform-origin: -5vw 1vh;
        box-shadow: -2vmin 0 0.5109858099587712vmin currentColor;
    }
    
    .background span:nth-child(25) {
        color: #583C87;
        top: 57%;
        left: 83%;
        animation-duration: 35s;
        animation-delay: -20s;
        transform-origin: -18vw -12vh;
        box-shadow: -2vmin 0 1.2391032721390536vmin currentColor;
    }
    
    .background span:nth-child(26) {
        color: #E45A84;
        top: 60%;
        left: 22%;
        animation-duration: 19s;
        animation-delay: -44s;
        transform-origin: 2vw 16vh;
        box-shadow: -2vmin 0 0.5816149770323251vmin currentColor;
    }
    
    .background span:nth-child(27) {
        color: #FFACAC;
        top: 24%;
        left: 93%;
        animation-duration: 25s;
        animation-delay: -30s;
        transform-origin: 25vw 6vh;
        box-shadow: 2vmin 0 0.7154932102825082vmin currentColor;
    }
    
    .background span:nth-child(28) {
        color: #FFACAC;
        top: 90%;
        left: 19%;
        animation-duration: 7s;
        animation-delay: -20s;
        transform-origin: -21vw 12vh;
        box-shadow: 2vmin 0 0.6113763992646915vmin currentColor;
    }
    
    .background span:nth-child(29) {
        color: #E45A84;
        top: 98%;
        left: 58%;
        animation-duration: 30s;
        animation-delay: -5s;
        transform-origin: -22vw 6vh;
        box-shadow: 2vmin 0 0.9912917827794676vmin currentColor;
    }
    
    .background span:nth-child(30) {
        color: #583C87;
        top: 33%;
        left: 47%;
        animation-duration: 8s;
        animation-delay: -5s;
        transform-origin: -11vw 19vh;
        box-shadow: -2vmin 0 1.0697135076886966vmin currentColor;
    }
    
    .background span:nth-child(31) {
        color: #583C87;
        top: 2%;
        left: 27%;
        animation-duration: 25s;
        animation-delay: -21s;
        transform-origin: -21vw 25vh;
        box-shadow: 2vmin 0 0.4263118221095352vmin currentColor;
    }
    
    .background span:nth-child(32) {
        color: #583C87;
        top: 76%;
        left: 15%;
        animation-duration: 47s;
        animation-delay: -8s;
        transform-origin: -24vw -24vh;
        box-shadow: -2vmin 0 1.046160114623798vmin currentColor;
    }
    
    .background span:nth-child(33) {
        color: #583C87;
        top: 94%;
        left: 88%;
        animation-duration: 17s;
        animation-delay: -17s;
        transform-origin: -21vw 11vh;
        box-shadow: -2vmin 0 0.5890264438904291vmin currentColor;
    }
    
    .background span:nth-child(34) {
        color: #583C87;
        top: 11%;
        left: 60%;
        animation-duration: 15s;
        animation-delay: -12s;
        transform-origin: 7vw 20vh;
        box-shadow: 2vmin 0 0.9645340401357647vmin currentColor;
    }
    
    .background span:nth-child(35) {
        color: #583C87;
        top: 46%;
        left: 12%;
        animation-duration: 46s;
        animation-delay: -40s;
        transform-origin: 0vw 15vh;
        box-shadow: 2vmin 0 0.5398486850144861vmin currentColor;
    }
    
    .background span:nth-child(36) {
        color: #FFACAC;
        top: 58%;
        left: 30%;
        animation-duration: 50s;
        animation-delay: -10s;
        transform-origin: 13vw 10vh;
        box-shadow: -2vmin 0 0.49047652509132766vmin currentColor;
    }
    
    .background span:nth-child(37) {
        color: #583C87;
        top: 90%;
        left: 33%;
        animation-duration: 41s;
        animation-delay: -43s;
        transform-origin: -13vw 16vh;
        box-shadow: -2vmin 0 1.0295498597559687vmin currentColor;
    }
    
    .background span:nth-child(38) {
        color: #583C87;
        top: 81%;
        left: 21%;
        animation-duration: 8s;
        animation-delay: -50s;
        transform-origin: -1vw 22vh;
        box-shadow: 2vmin 0 1.1353207179373668vmin currentColor;
    }
    
    .background span:nth-child(39) {
        color: #FFACAC;
        top: 39%;
        left: 64%;
        animation-duration: 39s;
        animation-delay: -35s;
        transform-origin: -16vw 23vh;
        box-shadow: 2vmin 0 0.3213275283886816vmin currentColor;
    }
    
    .background span:nth-child(40) {
        color: #E45A84;
        top: 49%;
        left: 97%;
        animation-duration: 30s;
        animation-delay: -28s;
        transform-origin: -3vw 7vh;
        box-shadow: -2vmin 0 0.8433155155441994vmin currentColor;
    }
    
    .background span:nth-child(41) {
        color: #FFACAC;
        top: 75%;
        left: 29%;
        animation-duration: 51s;
        animation-delay: -31s;
        transform-origin: 18vw 4vh;
        box-shadow: 2vmin 0 0.8937210895715684vmin currentColor;
    }
    
    .background span:nth-child(42) {
        color: #FFACAC;
        top: 45%;
        left: 24%;
        animation-duration: 17s;
        animation-delay: -3s;
        transform-origin: 21vw 22vh;
        box-shadow: -2vmin 0 1.2387138561490305vmin currentColor;
    }
    
    .background span:nth-child(43) {
        color: #E45A84;
        top: 78%;
        left: 32%;
        animation-duration: 26s;
        animation-delay: -44s;
        transform-origin: 22vw -1vh;
        box-shadow: -2vmin 0 0.5246527034784978vmin currentColor;
    }
    
    .background span:nth-child(44) {
        color: #FFACAC;
        top: 49%;
        left: 47%;
        animation-duration: 6s;
        animation-delay: -7s;
        transform-origin: -15vw -4vh;
        box-shadow: 2vmin 0 0.28204492544825244vmin currentColor;
    }
    
    .background span:nth-child(45) {
        color: #583C87;
        top: 40%;
        left: 2%;
        animation-duration: 16s;
        animation-delay: -22s;
        transform-origin: 12vw -15vh;
        box-shadow: -2vmin 0 0.9633863245343577vmin currentColor;
    }
    
    .background span:nth-child(46) {
        color: #E45A84;
        top: 2%;
        left: 92%;
        animation-duration: 39s;
        animation-delay: -35s;
        transform-origin: 3vw -20vh;
        box-shadow: -2vmin 0 1.0731420874475845vmin currentColor;
    }
    
    .background span:nth-child(47) {
        color: #FFACAC;
        top: 7%;
        left: 52%;
        animation-duration: 8s;
        animation-delay: -27s;
        transform-origin: -13vw -7vh;
        box-shadow: 2vmin 0 1.2370256906775172vmin currentColor;
    }
    
    .background span:nth-child(48) {
        color: #FFACAC;
        top: 27%;
        left: 54%;
        animation-duration: 41s;
        animation-delay: -24s;
        transform-origin: 9vw 14vh;
        box-shadow: 2vmin 0 0.2847099778729969vmin currentColor;
    }
    
    .background span:nth-child(49) {
        color: #583C87;
        top: 56%;
        left: 16%;
        animation-duration: 31s;
        animation-delay: -20s;
        transform-origin: 0vw -21vh;
        box-shadow: 2vmin 0 1.2497914519885904vmin currentColor;
    }
    
    s .hero {
        height: 20vh;
        width: 100%;
    }
    
    .myself {
        height: 100vh;
    }
    /* nav {
position: fixed;
display: flex;
align-items: center;
justify-content: space-between; 
justify-content: center;
padding-top: 40px;
padding-left: 25%;
padding-right: 20%;
padding-right: 50%;
padding-left: 50%;
background-color: rgba(0, 0, 0, 0.5);
} */
    
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(6, 230, 200, 0.5);
        /* margin: 0, 10px;  */
        margin-bottom: 50px;
        padding-left: 50px;
    }
    
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
    }
    
    nav ul li a {
        color: rgb(10, 235, 123);
        text-decoration: none;
        font-weight: bold;
        /*background-color: #000000;*/
    }
    
    nav ul li a:hover {
        color: #e11515;
        transition: .3s;
    }
    
    h1 {
        text-align: left;
        color: rgb( 66, 245, 120);
        font-size: 70px;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    
    img {
        padding-top: 10px;
        width: 500;
        height: 500;
        float: right;
        margin-right: 20px;
        margin-left: 40px;
    }
    
    span {
        color: #f31010;
    }
    
    #lake {
        float: left;
        padding-bottom: 100px;
        margin-left: 0%;
    }
    
    #boxa {
        margin-bottom: 400px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    .social-menu {
        width: 100%;
        margin-top: 1000px;
    }
    
    .social-menu ul {
        /* position: absolute; */
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: end;
    }
    
    .social-menu ul li {
        list-style: none;
        margin: 0 10px;
    }
    
    .social-menu ul li .fa {
        color: #000000;
        font-size: 25px;
        line-height: 50px;
        transition: .5s;
    }
    
    .social-menu ul li .fa:hover {
        color: #ffffff;
    }
    
    .social-menu ul li a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        transition: 0.5s;
        transform: translate(0, 0px);
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    }
    
    .social-menu ul li a:hover {
        transform: rotate(0deg) skew(0deg) translate(0, -10px);
    }
    
    .social-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }
    
    .social-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }
    
    .social-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f;
    }
    
    .social-menu ul li:nth-child(4) a:hover {
        background-color: #cd201f;
    }
    
    .social-menu ul li:nth-child(5) a:hover {
        background-color: #0077B5;
    }
    
    .selfp:hover {
        filter: drop-shadow(0px 0px 50px #00ff00) opacity(0.7);
        transition: 0.5s ease-in-out;
    }
    
    #how {
        margin-bottom: 10px;
    }
    
    #skill {
        color: rgb(255, 255, 255);
        margin-bottom: 500px;
    }
    
    #about {
        margin-bottom: 50px;
    }
    
    #mana {
        float: left;
        margin-left: 2px;
        width: 400px;
        height: 400px;
    }
    
    #skills {
        height: 400px;
        width: 400ps;
    }
    
    #pro {
        /*margin-bottom: px;
    
*/
        margin-bottom: 200px;
    }
    
    #photography {
        margin-bottom: 300px;
    }
    
    #editing {
        margin-bottom: 400px;
    }
    
    #test {
        border-width: 2px;
        border-color: #0077B5;
    }
    
    #bodyL {
        margin-bottom: 100px;
    }
    
     ::-webkit-scrollbar {
        width: 0px;
    }
    /* ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #30ff00);
    border-radius: 6px;
} */
    
    #scrollPath {
        position: fixed;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
    }
    
    #progressbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background: linear-gradient(to top, #008aff, #00ffe7);
        animation: animate 5s linear infinite;
    }
    
    @keyframes animate {
        0%,
        100% {
            filter: hue-rotate(0deg);
        }
        50% {
            filter: hue-rotate(360deg);
        }
    }
    
    #progressbar::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #008aff, #00ffe7);
        filter: blur(30px);
    }
    
    #abt {
        color: #3B83BD;
        font-family: Edu NSW ACT Foundation;
    }
    
    #EditingP {
        margin-bottom: 300px;
    }
    
    #stmp {
        width: 200px;
        height: 200px;
        margin-bottom: 100px;
    }
    
    #h1stem {
        text-align: center;
    }
    
    #h2 {
        font-size: 50px;
        font-family: monospace;
        color: #55acee;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #sp {
        margin-bottom: 10px;
        font-family: fantasy;
        color: rgb(62, 145, 116);
        line-height: 50px;
        word-spacing: 2px;
    }
    
    #TECH {
        height: 350px;
        width: 350px;
        float: left;
        margin-left: 0%;
    }
    
    #TECHNO {
        margin-top: 250PX;
        margin-bottom: 200px;
    }
    
    #engin {
        height: 350px;
        width: 350px;
        float: left;
    }
    
    #enging {
        margin-bottom: 250px;
    }
    
    #Science {
        font-size: 30px;
    }
    
    #h5 {
        font-size: 30px;
    }
    
    #h6 {
        font-size: 30px;
    }
    
    #meth {
        float: left;
        height: 350px;
        width: 350px;
        margin-left: 0%;
    }
    
    p {
        font-family: 'Nova Flat';
        font-size: 22px;
        color: #ffffff;
    }
    
    #Stem {
        float: left;
    }
    
    #Science {
        /* margin-top: px; */
    }
    
    .stem-main-cards .card {
        width: 23.5% !important;
    }
    
    .card {
        width: 25%;
    }
    
    .card-inner {
        position: relative;
        perspective: 1000px;
        height: 50rem;
        width: 100%;
        transition: all 0.2s;
    }
    
    .card-front,
    .card-back {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2rem;
        transition: all .5s;
        height: 30rem;
        width: calc(100% - 4rem);
        padding: 2rem;
        backface-visibility: hidden;
        overflow: auto;
        margin-top: 2rem;
        background-color: #000000;
    }
    
    .card:nth-child(1) .card-back,
    .card-front {}
    
    .card-back {
        transform: rotateY(-180deg);
    }
    
    .card-inner:hover .card-back {
        transform: rotateY(0deg);
        filter: drop-shadow(0px 0px 50px #00c9fc) opacity(0.7);
        transition: 0.5s ease-in-out;
    }
    
    .card-inner:hover .card-front {
        transform: rotateY(180deg)
    }
    
    .card-front {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-front h1 {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    #cardpapa {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100% - 10rem);
        margin: 20rem 5rem;
        justify-content: space-between;
        /* padding: 50px; */
    }
    /* #cardmama{
    margin-left: 50px;
} */
    
    #technologyhc {
        font-size: 45px;
        color: #cd201f;
    }
    
    #enginerringhc {
        text-align: center;
    }
    
    #enginhc {
        color: #cd201f;
        font-size: 45px;
    }
    
    #methhc {
        font-size: 45px;
    }
    
    #scihc {
        font-size: 45px;
    }
    
    #STEMp {
        float: left;
        width: 350px;
        height: 400px;
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    
    .container:hover .overlay {
        bottom: 0;
        height: 100%;
    }
    
    .container {
        position: relative;
        width: 50%;
    }
    
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #Science {
        margin-bottom: 200px;
    }
    
    #h2 {
        text-align: center;
        margin-top: 200px;
    }